/*TEMPLATE STYLES*/
/* Navigation Styles */
nav img {
  height:100px;
  width:100px;
  margin-right:10px;
  border-radius: 5px;
  border: 1px solid grey;
  transition: height .2s ease, width .2s ease;
  vertical-align:text-bottom;
}
div.container-header {
  padding-left: 15px;
  margin-left:0px;
  margin-right:0px;
  width:100%;
}
.affix img {
  height:50px;
  width: 50px;
}
@media (min-width:768px) {
  .navbar-brand>a {
    font-size:26px;
  }
  .divider-vertical {
    height: 50px;
    margin: 0 5px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
  }
  .navbar-nav {
    float:right;
    margin-top:52px;
    transition: margin .5s, ease;
  }
  nav.affix {
    opacity: .8;
  }
  .affix .navbar-nav {
    float:right;
    margin:1px;
  }
}
@media (max-width:768px) {
  nav img {
    margin-top: 10px;
    margin-left: 10px;
    height:50px;
    width: 50px;
  }
  .divider-vertical {
    display:none;
  }
  .navbar-brand>a {
    font-size:22px;
  }
  .navbar-nav {
    float:right;
  }
}
.navbar-toggle {
  padding: 20px 10px 0px 0px;
}
.navbar-brand {
  float: none;
  transition:font-size .5s ease;
}
.affix .navbar-brand>a {
  font-size:22px;
}
.navbar-brand>a:hover {
  text-decoration:none;
}
nav {
  background-color:#808080;
  transition: height .5s, ease;
  padding:10px 0px;
}
nav a {
  color:white;
  font-size:18px;
}
.navbar-nav>li>a:hover {
  color:white;
  background-color: black;
  border-radius: 5px;
}
span.navbar-brand>a {
  color:white;
  text-shadow: 1px 1px 3px #000000;
}
.navbar-header .fa {
  color: #808080;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  margin: 0px;
  font-size:18px;
}

/*Title Area Styles*/
.post-title {
  text-align:left;
}
p.title {
  color:white;
  float:right;
  margin:10px 10px 0px 0px;
  font-size:26px;
  font-weight:600;
}
section#feature {
  text-align: center;
  background-image: url(../img/halstatt.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  margin:120px 0px 20px 0px;
  min-height:400px;
  padding-top: 290px;
}
@media (max-width:768px) {
  section#feature {
    margin-top:85px;
  }
}
.feature {
  color: white;
  text-shadow: 3px 3px 5px #000000;;
}

/* Content Area Styles */
section#content {
  padding-top: 10px;
}

/*Footer Styles */
div.footer {
  background:#a6a6a6;
  margin-top:20px;
  padding: 10px 0px 10px 20px;
}
div.footer p {
  color:white;
  margin-bottom:0rem;
  text-align:center;
  font-size: 26px;
}
hr {
  border:.5px groove #d9d9d9;
}
/* PAGE-SPECFICI STYLES */
/* Homepage Styles */
.centered {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  float:none;
}
.post-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 250px;
  border:2px solid black;
  transition: opacity 1s;
}
.post-image:hover {
  opacity: .7;
}
.rss-subscribe {
  font-weight:800;
  text-align:right;
}
.center-block {
  float:none;
  text-align:center;
  margin-top: 20px;
}
/* Posts Page Styles */
.archive-image {
  float:left;
  margin: 5px;
  margin-right:10px;
  width:150px;
  height:112px;
  border-radius: 10px;
  border:2px solid black;
  transition: opacity 1s;
}
.archive-image:hover {
  opacity: .7;
}
.archive-item {
  border-top:.5px groove #d9d9d9;
  margin-bottom:10px;
}
section#post-feature {
  text-align: center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:122px;
}
@media (max-width:768px) {
  section#post-feature {
    margin-top:85px;
  }
}
.post-feature {
  color: white;
  text-shadow: 3px 3px 5px #000000;;
}
.archive-title {
  margin-bottom:0px;
}
.section-heading {
  margin-bottom:20px;
}
/*Subpage Styles*/
section#feature-subpage {
  text-align: center;
  background-size:cover;
  background-image:url(../img/st-lucia.jpg);
  background-repeat:no-repeat;
  min-height:250px;
  padding-top:150px;
  margin:120px 0px 20px;
}
@media (max-width:768px) {
  section#feature-subpage {
    margin-top:85px;
  }
}
.post-feature {
  color: white;
  text-shadow: 3px 3px 5px #000000;;
}
.profile {
  border:.5px solid lightgrey;
  border-radius:10px;
}
.img-profile {
  margin:5px;
  border-radius:50%;
  width:250px;
}
.social {
  list-style-type: none;
}
.social .fa {
  font-size:16px;
  margin-right:5px;
}
.archive {
    padding-right: 30px;
}
/*Map Page Styles*/
#mapid {
  height: 600px;
  margin-top: 20px;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 250px
}
.info h4, h6 {
  margin: 0 0 5px;
  color: #207ac9;
}
.leaflet-popup-content-wrapper {
  width:250px;
  text-align:center;
}
.map-photo {
  border-radius:10px;
  margin-top:10px;
  margin-bottom:5px;
  width:220px;
}
