
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Homepage for Mike and Meagan's trip in Southeast Asia and Oceania">
    <meta name="author" content="Michael Renzi">
    <link rel="icon" href="{{ site.baseurl }}/img/globe.png">

    <title>{{page.title }} | {{ site.title }}</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:500" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">

    <!-- Add Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  </head>

  <body>
    <section id="title">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="200">
        <div class="container container-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-bars"></i>
            </button>
            <a href="{{ site.baseurl }}"><img class="navbar-img" src="{{ site.baseurl }}/img/mike-and-meagan.jpg"/></a>
            <span class="navbar-brand"><a href="{{ site.baseurl }}">{{ site.title }}</a></span>

          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/map"><i class="fa fa-map" aria-hidden="true"></i>&nbsp;Map</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{ site.baseurl }}/posts"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;Posts</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </section><!--title-->
