{% include header.html %}

    <section id="feature-subpage">
      <div class="container">
        <div class="row">
          <div class="centered col-sm-12 col-md-8 col-lg-6">
            <h1 class="feature">{{ page.title }}</h1>
            <p class="lead feature">{{ page.excerpt }}</h1>
          </div><!-- /.inner -->
        </div><!-- /.row -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!--feature-->

    <section id="content">
      <div class="container">

        {{content}}

       </div><!-- /.container -->
    </section><!--content-->

{% include footer.html %}
